In [1]:
#!pip install wget
#!pip install NumPy

import wget
import pandas as pd
import numpy as np

## Q1. Pandas version

In [2]:
pd.__version__

'2.3.1'

### Getting the data

In [ ]:

url = "https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv"  # Example CSV URL
filename = wget.download(url)

In [26]:
print(f"\nFile downloaded: {filename}")

File downloaded: car_fuel_efficiency (1).csv

In [27]:
df= pd.read_csv(filename)

In [28]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

## Q2. Records count

In [29]:
len(df)

9704

## Q3. Fuel types

In [30]:
df.fuel_type.value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [31]:
# there are 2 fuel types

## Q4. Missing values

In [32]:
missing_counts= df.isna().sum()
missing_counts[missing_counts>0]

num_cylinders    482
horsepower       708
acceleration     930
num_doors        502
dtype: int64

In [33]:
missing_counts= df.isna().sum()
print('There are', missing_counts[missing_counts>0].count(),' columns with missing values')

There are 4  columns with missing values

## Q5. Max fuel efficiency

In [34]:
df.groupby('origin')['fuel_efficiency_mpg'].max()

origin
Asia      23.759123
Europe    25.967222
USA       24.971452
Name: fuel_efficiency_mpg, dtype: float64

In [35]:
max_value= df.loc[df.origin=='Asia'].fuel_efficiency_mpg.max()
rounded_max =round(max_value,2)
rounded_max

np.float64(23.76)

## Q6. Median value of horsepower
### 1-  Median value

In [36]:
med_value= df.horsepower.median()
med_value

np.float64(149.0)

### 2-  most frequent value

In [37]:
df.horsepower.value_counts().head(3)

horsepower
152.0    142
145.0    141
151.0    134
Name: count, dtype: int64

### 3- fill the missing values

In [38]:
df.horsepower.fillna(152,inplace =True)

/tmp/ipykernel_1930/238572514.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.horsepower.fillna(152,inplace =True)

### 4- New Median

In [39]:
new_med= df.horsepower.median()
print('The new median after fillna with the most frequent value is :',new_med)

The new median after fillna with the most frequent value is : 152.0

In [40]:
df.horsepower.isna().sum()

np.int64(0)

## Q7. Sum of weights

### 1- Select all the cars from Asia

In [41]:
df_Asia_Cars = df.loc[df.origin=='Asia']

### 2- Select only columns vehicle_weight and model_year

In [42]:
df_Asia_Cars= df_Asia_Cars[['vehicle_weight' ,'model_year']]

### 3- Select the first 7 values

In [43]:
df_Asia_Cars= df_Asia_Cars.head(7)

### 4- Get the underlying NumPy array. Let's call it X.

In [44]:

X= df_Asia_Cars.values

### 5- Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.

In [45]:
XTX = X.T.dot(X)

### 6- Invert XTX.

In [46]:
XTX_invrt= np.linalg.inv(XTX)

### 7- Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].

In [47]:
y=np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

### 8- Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

In [48]:

XTXX = XTX_invrt.dot(X.T)

In [49]:
result= XTXX.dot(y)

### 9- Sum of all the elements of the result

In [50]:
result.sum()

np.float64(0.5187709081074016)